/* ============= extgallery_public-album.html ============= */
.apple_overlay {
    display: none;
    padding: 10px;
    font-size: 11px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    box-shadow: 0 0 5px 5px #000000;
    -moz-box-shadow: 0 0 5px 5px #000000;
    -webkit-box-shadow: 0 0 5px 5px #000000;
    -khtml-box-shadow: 0 0 5px 5px #000000;
}

.apple_overlay .close {
    background-image: url(modules/extgallery/assets/images/overlay/close.png);
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

.apple_overlay .details {
    font-size: 1em;
    margin-top: 1em;
    padding: 5px;
}

.apple_overlay .details a {
    font-size: 1.2em;
}
